html {
  font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: steelblue;
  text-decoration: none;
  font-weight: 500;
}
blockquote {
  font-style: italic;
  line-height: 18px;
  color: grey;
}
article {
  margin-bottom: 50px;
}
article > a > h1 {
  color: black;
}
article > a:hover::after {
  content: "¶";
  margin-left: 10px;
  font-size: 32px;
  color: black;
}
article > p > a:hover {
  text-decoration: underline;
}
article > ul > li > p > a:hover {
  text-decoration: underline;
}
article > ol > li > p > a:hover {
  text-decoration: underline;
}
article > p > img {
  max-width: 300px;
}
code {
  background-color: #f6f8fa;
  color: black;
  padding: 2px 5px;
}
p {
  line-height: 18px;
}

.text1 {
  color: steelblue;
}
.text2 {
  color: #333;
}

#layout {
  width: 95%;
  padding-left: 5%;
}

header {
  display: flex;
  margin-bottom: 35px;
}
header > nav {
  display: flex;
  place-items: center;
  margin-top: 8px;
  margin-right: 2vw;
}
header > nav > a {
  position: relative;
  color: #333;
  font-size: 28px;
  font-weight: 600;
  margin-right: 36px;
}
header > nav > span {
  color: lightgrey;
  font-size: 28px;
  font-weight: 600;
  margin-right: 25px;
}
@media only screen and (max-width: 575px) {
  header {
    display: block;
    margin-left: 5%;
  }
  header > a > img {
    min-width: 65px;
    max-width: 150px;
    width: 45%;
    height: 20%;
  }
  header > nav {
    display: block;
    margin-bottom: 10px;
  }
  header > nav > a {
    margin-right: 22px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 280px) {
  header {
    line-height: 36px;
  }
}

#home {
  display: flex;
  place-items: center;
  margin-right: 8vw;
}
#home > span {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  #home > span {
    display: none;
  }
}
@media only screen and (max-width: 618px) {
  #home {
    margin-right: 5px;
  }
}

#github-link {
  display: flex;
  place-items: center;
}
#github-link > span {
  margin-top: 10px;
  display: flex;
  font-size: 24px;
}
#github-link > span > svg {
  margin-left: 2px;
}

#root {
  width: 90%;
  max-width: 900px;
  margin-bottom: 50px;
}

#back-to-top {
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: steelblue;
  outline: none;
}
#back-to-top:hover {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.short-circuit-link {
  font-size: 32px;
  margin-right: 32px;
}

.docs-item > * {
  display: 'inline',
}
.docs-item-button-expand {
}
.docs-item-button-shrink {
}
