/*
@font-face {
  font-family: zillaslab;
  src: url('./fonts/ZillaSlab-Medium.ttf');
}
@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto-Medium.ttf');
}
*/
html {
  /* font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif; */
  /* font-family: x-locale-heading-primary,roboto,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 
             'Segoe UI', Roboto, 'Helvetica Neue', 
             Ubuntu, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 280px) {
  html {
    overflow-x: hidden;
  }
}
a {
  color: #65799B;
  text-decoration: none;
  font-weight: 650;
}
blockquote {
  font-style: italic;
  line-height: 18px;
  color: grey;
}
article {
  margin-bottom: 50px;
}
article > a > h1 {
  color: black;
}
article > a:hover::after {
  content: "¶";
  margin-left: 10px;
  margin-left: 10px;
  font-weight: 500;
  color: black;
}
article > p > a:hover {
  text-decoration: underline;
}
article > ul > li > p > a {
  word-break: break-all;
  text-decoration: underline;
}
article > ul > li > p > a:hover {
  text-decoration: underline;
}
article > ol > li > p > a:hover {
  text-decoration: underline;
}
code {
  background-color: #f6f8fa;
  color: black;
  padding: 2px 5px;
  word-break: break-word;
}
p {
  line-height: 18px;
}

.text1 {
  color: #65799B;
}
.text2 {
  color: #333;
}

#layout {
  width: 90%;
  padding-left: 10%;
}

header {
  display: flex;
  margin-bottom: 35px;
}
header > nav {
  display: flex;
  place-items: center;
  margin-top: 8px;
  margin-right: 2vw;
}
header > nav > a {
  position: relative;
  color: #333;
  font-size: 28px;
  font-weight: 600;
  margin-right: 36px;
}
header > nav > span {
  color: lightgrey;
  font-size: 28px;
  font-weight: 600;
  margin-right: 25px;
}
@media only screen and (max-width: 575px) {
  header {
    display: block;
    margin-left: 5%;
  }
  header > a > img {
    min-width: 65px;
    max-width: 150px;
    width: 45%;
    height: 20%;
  }
  header > nav {
    display: block;
    margin-bottom: 10px;
  }
  header > nav > a {
    margin-right: 22px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 280px) {
  header {
    line-height: 36px;
  }
}

#home {
  display: flex;
  place-items: center;
  margin-right: 8vw;
}
#home > span {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1em;
}
@media only screen and (max-width: 768px) {
  #home > span {
    display: none;
  }
}
@media only screen and (max-width: 618px) {
  #home {
    margin-right: 5px;
  }
}

#github-link {
  display: flex;
  place-items: center;
}
#github-link > span {
  margin-top: 10px;
  display: flex;
  font-size: 24px;
  font-weight: 600;
}
#github-link > span > svg {
  margin-left: 2px;
}

#root {
  width: 90%;
  max-width: 900px;
  margin-bottom: 50px;
}

#back-to-top {
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #65799B;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}
#back-to-top:hover {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#docs > div {
  margin-bottom: 15px;
}
/*
#docs > div > * {
  display: block;
}
#docs > div > * > * {
  display: block;
}
*/

#retractor-header:after {
  font-size: 32px;
  margin-left: 10px;
  content: "▼";
}
#retractor-header:hover::after {
  margin-left: 10px;
  content: "▲";
}

#next-arrow {
  color: #51D48D;
  font-size: 38px;
  margin-left: 22px;
  font-weight: 700;
}
#next-arrow:hover {
  color: #5DDE98;
}

#take-the-tour-button {
  border-radius: 10px;
  font-size: 26px;
  border: none;
  color: #FFF;
  background-color: #65799B;
  padding: 18px 32px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.18s ease;
}
#take-the-tour-button:hover {
  background-color: #6078EA;
}

#read-the-docs-button {
  margin-left: 25px;
  border-radius: 10px;
  font-size: 26px;
  border: none;
  color: #65799B;
  background-color: #FFF;
  padding: 18px 32px;
  cursor: pointer;
  outline: none;
}
#read-the-docs-button:hover {
  text-decoration: underline;
}

#active-spacer {
  position: absolute;
  top: -42px;
}

#x-docs > h1 {
  font-size: 42px;
}

#docs-x-back-button {
  position: relative;
  color: #65799B;
  margin: 0;
  font-size: 80px;
  font-weight: 800;
  line-height: 132px;
}
#docs-x-back-button:hover {
  color: #6078EA;
}
/* #docs-x-back-button:hover::after {
  font-size: 80px;
  position: absolute;
  top: -16px;
  left: 100px;
  content: "⇤";
} */

.docs-item-children {
  margin-left: 26px;
}

.docs-item {
  position: relative;
  margin-bottom: 10px;
}
.docs-item > a {
  border: none;
  background-color: #fff;
  padding: 0px 0px;
  margin: 5px 8px;
  cursor: pointer;
  outline: none;
}
.docs-item > a > h3 {
  color: #65799B;
  font-size: 22px;
  margin: 0;
  display: inline;
  transition: font-size 0.24s;
}
.docs-item > a > h3:hover {
  color: #6078EA;
}
.docs-item > a.active > h3,
.docs-item > a.active > span {
  color: #51D48D;
  font-size: 36px;
  margin-bottom: 36px;
}
.docs-item > a.active:hover {
  color: #51D48D;
}

.docs-link {
  color: #65799B;
  font-size: 22px;
  font-weight: 800;
}
.docs-link:hover {
  color: #6078EA;
}

.fade-in-out > article {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .65s;
  transition-timing-function: ease;
}
.fade-in-out.transition-start > article {
  /* visibility: hidden; */
  opacity: 0;
}
.fade-in-out.transition-end > article {
  /* visibility: visible; */
  opacity: 1;
}
.fade-in-out.transition-start > article > p {
  /* visibility: hidden; */
  opacity: 0;
}
.fade-in-out.transition-end > article > p {
  /* visibility: visible; */
  opacity: 1;
}

#blog > article > p > img {
  width: 100%;
  max-width: 650px;
}
#blog > article > h1 {
  font-size: 48px;
  margin-bottom: 0px;
  /* word-break: break-word; */
}

.blog-metadata {
  margin-right: 18px;
  margin-bottom: 36px;
  color: grey;
}

.blog-item > p {
  margin-right: 18px;
  margin-bottom: 36px;
  color: grey;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.28s;
  transition-timing-function: ease;
}
.blog-item > p.inactive {
  opacity: 0;
  margin: 0;
}
.blog-item > a {
  font-size: 16px;
  color: #65799B;
  transition-property: color, font-size;
  transition-duration: 0.28s, 0.28s;
  transition-timing-function: ease, ease;
}
.blog-item > a:hover {
  text-decoration: underline;
}
.blog-item > a.active {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
