/*
@font-face {
  font-family: zillaslab;
  src: url('./fonts/ZillaSlab-Medium.ttf');
}
@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto-Medium.ttf');
}
*/
html {
  /* font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif; */
  /* font-family: x-locale-heading-primary,roboto,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 
             'Segoe UI', Roboto, 'Helvetica Neue', 
             Ubuntu, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 280px) {
  html {
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  background-color: #fafafb;
}

a {
  color: #65799B;
  text-decoration: none;
  font-weight: 650;
}
blockquote {
  font-style: italic;
  line-height: 18px;
  color: grey;
}
article {
}
article .anchor-hash {
  margin: 30px 0px;
}
article h1, article h2, article h3, article h4, article h5 {
  margin: 0;
}
article h4, article h5 {
  font-size: 16px;
}
article > a > h1 {
  color: black;
}
article > a:hover::after {
  content: "¶";
  margin-left: 10px;
  margin-left: 10px;
  font-weight: 500;
  color: black;
}
article > p {
  margin: 0;
}
article > p > a:hover {
  text-decoration: underline;
}
article > ul > li > p > a {
  word-break: break-all;
  text-decoration: underline;
}
article > ul > li > p > a:hover {
  text-decoration: underline;
}
article > ol > li > p > a:hover {
  text-decoration: underline;
}
article .code-runner {
  margin: 15px 0;
}
article .code-viewer {
  margin: 15px 0 20px 0;
}
article p + p {
  margin-top: 15px;
}
code {
  background-color: #f6f8fa;
  color: black;
  padding: 2px 5px;
  word-break: break-word;
}
p {
  line-height: 18px;
}
h4 {
  margin: 0;
}

.image {
  display: inline;
}

.nav-spacer {
  width: 100%;
}

.text1 {
  color: #65799B;
}
.text2 {
  color: #333;
}

#layout {
  width: 100%;
  margin: 0 auto;
}
#layout main {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 2%;
  padding-bottom: 25px;
  width: 94%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 25px auto;
  min-height: 100vh;
}
@media only screen and (max-width: 768px) {
  #layout main {
    width: 96%;
  }
}
#layout > nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  height: 50px;
}
#layout > nav > .right-links {
  position: relative;
  padding-right: 2%;
  padding-top: 5px;
}
@media only screen and (max-width: 768px) {
  #layout > nav > .right-links {
    padding-top: 0px;
  }
}

#hamburger-menu {
  display: none;
}
#hamburger-menu.active {
  display: block;
}
/*
@media only screen and (max-width: 768px) {
}
*/

.slider {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.slider > .panels {
  transform: translate(0%);
  transition: transform .25s;
}
.slider > .panels > .panel {
  display: inline-block;
  float: left;
  width: 100%;
}

#github-link {
  display: flex;
  place-items: center;
}
#github-link svg {
  width: 45px;
  height: 45px;
}

#hamburger-menu-icon {
  width: 50px;
  height: 50px;
  overflow-y: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  left: -50px;
  background-color: transparent;
}
#hamburger-menu-icon svg {
  transition: opacity 0.25s;
  opacity: 1;
  position: absolute;
  top: -50px;
  left: 0;
}
#hamburger-menu-icon.active svg {
  opacity: 0.5;
}

#hamburger-menu {
}
#hamburger-menu nav {
  width: 70%;
  padding-right: 5%;
  padding-left: 2%;
  background-color: #fff;
  margin: 10px 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
#hamburger-menu nav > .nav-link {
  display: block;
  font-size: 28px;
  padding: 5px 3%;
}
#hamburger-menu nav > hr {
  position: relative;
  left: -3%;
  margin: 0;
  height: 1px;
  background-color: #e4e4e4;
  border: none;
}
#hamburger-menu nav > .nav-link.active {
  text-decoration: none;
}

#hamburger-menu .docs-nav nav {
  padding-top: 15px;
  padding-bottom: 15px;
}
#hamburger-menu .docs-nav nav section {
  padding-left: 10px;
  margin-bottom: 10px;
}
#hamburger-menu .docs-nav nav h4 {
  font-size: 1.5rem;
  padding: 3px 0px;
}
#hamburger-menu .docs-nav nav .docs-nav-item {
  font-size: 1.2rem;
  padding: 1px 0px;
}

#layout > nav > .home {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2%;
}
#layout > nav > .home > .links {
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding-top: 5px;
}
@media only screen and (max-width: 768px) {
  #layout > nav > .home > .links {
    display: none;
  }
}

.nav-link {
  color: #333;
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 10%;
}
.nav-link.active {
  color: rgb(101, 121, 155);
  text-decoration: underline;
  text-decoration-color: rgb(101, 121, 155);
}

#layout > nav > .home {
  display: flex;
}
#layout > nav > .home select {
  position: relative;
  border: none;
  outline: none;
  padding: 6px 5px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #e4e4e4;
  color: rgb(101, 121, 155);
  cursor: pointer;
}

#layout > footer {
  padding: 15px 30px;
}

#home-link {
  display: flex;
  align-items: center;
  /*
  margin-right: 8vw;
  */
}
#home-link .text1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
}
#home-link > img {
  width: 150px;
}
@media only screen and (max-width: 768px) {
  #home-link {
  }
  #home-link .text1 {
  }
  #home-link > img {
    width: 100px;
  }
}
@media only screen and (max-width: 618px) {
  #home-link {
  }
}

#react-root {}

#home {
  padding: 0px 15%;
}
@media only screen and (max-width: 618px) {
  #home {
    padding: 0;
  }
}
#home .cta-links {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  #home .cta-links {
    flex-direction: column;
    align-items: center;
  }
}
#home .cta-links a {
  white-space: nowrap;
  padding: 5px 2%;
  width: 100%;
}
#home .cta-links a > button {
  width: 100%;
  font-size: 22px;
  padding: 10px 5%;
  cursor: pointer;
}
#take-the-tour-button {
  border-radius: 10px;
  border: none;
  color: #FFF;
  background-color: #65799b;
  transition: background-color 0.18s ease;
}
#take-the-tour-button:hover {
  background-color: #5a6c8b;
}

#read-the-docs-button {
  border-radius: 10px;
  border: 1px solid #65799B;
  color: #65799B;
  background-color: #FFF;
}
#read-the-docs-button:hover {
  background-color: #f6f8fa
}

#tour {
  padding: 10px 15%;
}
@media only screen and (max-width: 768px) {
  #tour {
    padding: 10px 0;
  }
}

#back-to-top {
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #65799B;
  font-size: 16px;
  font-weight: 600;
}
#back-to-top:hover {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#docs {
  display: flex;
}

#docs .sidebar {
  padding-top: 10px;
  border-right: 1px solid #e4e4e4;
  width: 20%;
  padding-right: 2%;
}
@media only screen and (max-width: 768px) {
  #docs .sidebar {
    display: none;
  }
}

#docs .sidebar nav {
}
#docs .sidebar nav section {
  margin-bottom: 10px;
}
#docs .sidebar nav h4 {
  font-size: 18px;
  padding: 3px 0px;
}
#docs .sidebar nav .docs-nav-item {
  padding: 1px 0px;
}

#docs .viewer {
  width: 75%;
  padding-left: 2%;
}
@media only screen and (max-width: 768px) {
  #docs .viewer {
    width: 100%;
  }
}

#docs .viewer h1 {
  font-size: 42px;
  margin: 12px 0px;
  color: #65799B;
}
@media only screen and (max-width: 768px) {
  #docs .viewer h1 {
    font-size: 2rem;
  }
}

#docs-search input {
  background: url('/assets/magnifying-glass-docs-search-d4d4d4.svg') no-repeat 98% 5px;
  background-size: 15px;
  padding: 5px 3%;
  width: calc(94% - 5px);
  padding-right: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

#retractor-header:after {
  font-size: 32px;
  margin-left: 10px;
  content: "▼";
}
#retractor-header:hover::after {
  margin-left: 10px;
  content: "▲";
  content: url(/assets/triangle-up-rubico-green.svg);
}

#next-arrow {
  color: #51D48D;
  font-size: 38px;
  margin-left: 22px;
  font-weight: 700;
}
#next-arrow:hover {
  color: #5DDE98;
}

#active-spacer {
  position: absolute;
  top: -42px;
}

#x-docs > h1 {
  font-size: 42px;
}

#docs-x-back-button {
  position: relative;
  color: #65799B;
  margin: 0;
  font-size: 80px;
  font-weight: 800;
  line-height: 132px;
}
#docs-x-back-button:hover {
  color: #6078EA;
}
/* #docs-x-back-button:hover::after {
  font-size: 80px;
  position: absolute;
  top: -16px;
  left: 100px;
  content: "⇤";
} */

.docs-item-children {
  margin-left: 26px;
}

.docs-item {
  position: relative;
  margin-bottom: 10px;
}
.docs-item > a {
  border: none;
  background-color: #fff;
  padding: 0px 0px;
  margin: 5px 8px;
  cursor: pointer;
}
.docs-item > a > h3 {
  color: #65799B;
  font-size: 22px;
  margin: 0;
  display: inline;
  transition: font-size 0.24s;
}
.docs-item > a > h3:hover {
  color: #6078EA;
}
.docs-item > a.active > h3,
.docs-item > a.active > span {
  color: #51D48D;
  font-size: 36px;
  margin-bottom: 36px;
}
.docs-item > a.active:hover {
  color: #51D48D;
}

.docs-link {
  color: #65799B;
  font-size: 22px;
  font-weight: 800;
}
.docs-link:hover {
  color: #6078EA;
}

.fade-in-out {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: .36s, .36s;
  transition-timing-function: ease, ease;
}
.fade-in-out.transition-start {
  visibility: hidden;
  opacity: 0;
}
.fade-in-out.transition-end {
  visibility: visible;
  opacity: 1;
}

#blog {
  padding: 0px 15%;
}
@media only screen and (max-width: 768px) {
  #blog {
    padding: 0px;
  }
}

#home > article > a > #blog {
  padding: 0;
}

#blog > article > p > img {
  width: 100%;
  max-width: 650px;
}
#blog > article > h1 {
  font-size: 48px;
  margin-bottom: 0px;
  /* word-break: break-word; */
}

.blog-metadata {
  margin-right: 18px;
  margin-bottom: 36px;
  color: grey;
}

.blog-post {
  margin-bottom: 25px;
}
.blog-post.inactive {
}

.blog-post > p {
  margin-right: 18px;
  margin-bottom: 15px;
  margin-top: 0px;
  color: grey;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.28s;
  transition-timing-function: ease;
}

.blog-post .cover {
  text-align: center;
  margin: 30px 0px;
}
.blog-post .cover > img {
  max-height: 30vh;
  width: 85%;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .blog-post .cover > img {
  }
}

.blog-post.inactive .cover > img {
  width: 45%;
}

.blog-post > h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.blog-post > button.read-more {
  border: none;
  background-color: #65799b;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 650;
  cursor: pointer;
  transition: background-color 0.18s ease;
  outline: none;
}
.blog-post > button.read-more:hover {
  background-color: #5a6c8b;
}
.blog-post > p.inactive {
  opacity: 0;
  margin: 0;
}
.blog-post > a {
  display: flex;
  font-size: 16px;
  align-items: center;
  color: #65799B;
  transition-property: color, font-size;
  transition-duration: 0.28s, 0.28s;
  transition-timing-function: ease, ease;
}
.blog-post > a > img {
  filter: grayscale(100%);
}
.blog-post > a:hover {
}
.blog-post > a.active {
  color: black;
  text-decoration: none;
}
.blog-post article > p > .image {
  display: block;
  text-align: center;
}
.blog-post article > p > .image > img {
  max-height: 30vh;
  width: 85%;
  object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .blog-post article > p > .image > img {
  }
}

.blog-post > a > .down-arrow-svg {
  position: relative;
  margin-left: 18px;
  width: 35px;
  transition: transform 0.12s, opacity 0.42s;
  max-width: 6vw;
  height: 20px;
  opacity: 0;
  transform: rotate(-90deg);
}
@media only screen and (max-width: 768px) {
  .blog-post > a > .down-arrow-svg {
    width: 100%;
  }
}

.blog-post > a.active > .down-arrow-svg {
  transform: rotate(0deg);
  opacity: 1;
}

.blog-post > a > .down-arrow-svg > rect {
  fill: #65799b;
}
.blog-post > a.active > .down-arrow-svg > rect {
  fill: #000;
  transition: fill 0.25s;
}

.next-arrow {
  margin-left: 36px;
  width: 36px;
  position: relative;
  bottom: -6px;
}
.next-arrow:hover {
  filter: brightness(108%);
}

#back-to-top {
  margin-top: 35px;
}
